{% extends 'base.html' %}

{% block title %}Search Results {% endblock %}

{% block content %}
<style>
    a {
        outline: none;
        text-decoration: none;
        color: white;
    }
</style>
    {% if object_list %}
        {% for document in object_list %}
            <div class="card border-dark mb-3" style="max-width: 60rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ document.title }}</h5>
                    <p class="card-text">Created on {{document.date}}</p>
                    <button type="submit" name="EditBtn" value ="{{document.id}}" class="btn btn-success"><a href="/edit/{{document.id}}">Edit</a></button>
                </div>
            </div>
            <br>
            <br>
        {% endfor %}
    {% else %}
        <h1>No results found</h1>
    {% endif %}

{% endblock %}